* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* added typewriter effect */
.welcome-message-container {
    /* grid-area: "pc"; */
    border: 5px solid rgb(29, 4, 4);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    margin: 0 auto;
    padding: 50px;
}

.welcome-message {
    border-right: 0.15em solid grey;
    overflow: hidden;
    white-space: nowrap;    
    animation:
        typing 2s steps(31, end) forwards,
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

@keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: grey}
    }

/* end typewriter effect */

.hidden {
    display: none;
}

header {
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: white;
    font-size: 3rem;
    padding: 10px;
    text-align: center;
    background-color: rgb(211, 12, 12);
}

h1 img {
    height: 1.3em;
    margin-right: 10px;
}

.nav-bar {
    display: flex;
    background-color: rgb(255, 254, 254);
    justify-content: center;
    font-size: 1.3rem;
    padding: 20px;
}

.nav-bar label{
    margin: 0 10px;
}

main {
    background-color: rgba(223, 158, 158, 0.694)
}

.container{
    border: 5px solid rgb(245, 0, 0);
    background-color: rgba(255, 29, 29, 0.694);
    margin: 0 auto;
    padding:50px;
    width:800px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#sidebar-menu {
    height: 450px;
    min-width:150px;
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    margin: 1em;
    overflow: auto;
}

li {
    list-style-type: none;
    border: solid 2px grey;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2px;
    cursor: pointer;
}


#pokemon-card-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    white-space: nowrap;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 20px;
    padding: 5px;
    width: 250px;

}
 

.pokemon-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

#display-pokemon-img {
   
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    border: solid 2px white;
    background-color: white;
    border-radius: 10px;
}

#specifications {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(163, 163, 163);
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    width: 250px;
}

#stats-list {
    display: inline-block;
    justify-content: space-between;
    align-content: space-between;
    border: 2px solid black;
    background-color: rgb(171, 192, 210);
    padding: 5px;
    word-spacing: 0.3rem;
    margin-bottom: 5px;
    width: 250px;
    text-align: center;
}

.stats-container {
  display: inline-block;
  width: 50%;
  height: 10px; 
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px; 
}

.hp-fill, .attack-fill, .defense-fill, .speed-fill {
  height: 100%;
  background-color: #3fe91d; /* Color of the filled portion */
}


#attack-list {
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    color:rgb(30, 30, 30);
    border: 2px solid black;
    padding: 5px;
    width: 250px;
    text-align: center;
}

#type-icon {
    height: 30px; 
    background-size: contain;
    background-repeat: no-repeat;  
}
/* style by type */

.grass {
    border: 5px solid #528837;
    background-color: #78C850;
}

.grass #type-icon{
    background-image: url(https://archives.bulbagarden.net/media/upload/2/2e/Grass-attack.png);
}

.grass #attack-list {
    background-color: #528837;
}

.bug {
    border: 5px solid #859404;
    background-color: #A8B820;
}

.bug #type-icon{
    background-image: url(https://archives.bulbagarden.net/media/upload/2/2e/Grass-attack.png);
}

.bug #attack-list {
    background-color: #859404;
}

.fire {
    border: 5px solid #eb6403;
    background-color: #F08030;
}

.fire #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/a/ad/Fire-attack.png);
}

.fire #attack-list {
    background-color: #eb6403;
}

.dragon {
    border: 5px solid #7038F8;
    background-color: #ccb9f8;
}

.dragon #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/8/8a/Dragon-attack.png);
}

.dragon #attack-list {
    background-color: #7038F8;
}

.water {
    border: 5px solid #3e72ea;
    background-color: #82a3f0;
}

.water #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/1/11/Water-attack.png);
}

.water #attack-list {
    background-color: #3e72ea;
}

.ice {
    border: 5px solid #23d6d6;
    background-color: #98D8D8;
}

.ice #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/1/11/Water-attack.png);
}

.ice #attack-list {
    background-color: #23d6d6;
}

.electric {
    border: 5px solid #F8D030;
    background-color: #fff1bb;
}

.electric #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/0/04/Lightning-attack.png);
}

.electric #attack-list {
    background-color: #F8D030;
}

.normal {
    border: 5px solid #a1a142;
    background-color: #aeae94;
}

.normal #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/1/1d/Colorless-attack.png);
}

.normal #attack-list {
    background-color: #a1a142;
}

.fighting {
    border: 5px solid #C03028;
    background-color: #ba8582;
}

.fighting #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/4/48/Fighting-attack.png)
}

.fighting #attack-list {
    background-color: #C03028;
}

.ground {
    border: 5px solid #cea22a;
    background-color: #e0c781;
    
}

.ground #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/4/48/Fighting-attack.png)
}

.ground #attack-list {
    background-color: #cea22a;
}

.rock {
    border: 5px solid #756623;
    background-color: #b5aa78;
}

.rock #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/4/48/Fighting-attack.png)
}

.rock #attack-list {
    background-color: #756623;
}

.flying {
    border: 5px solid #A890F0;
    background-color: #dcd5f4;
}

.flying #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/1/1d/Colorless-attack.png);
}

.flying #attack-list {
    background-color: #A890F0;
}

.steel {
    border: 5px solid #63636f;
    background-color: #B8B8D0;
}

.steel #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/6/64/Metal-attack.png);
}

.steel #attack-list {
    background-color: #63636f;
}

.psychic {
    border: 5px solid #f44e7f;
    background-color: #f288a8;
}

.psychic  #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/e/ef/Psychic-attack.png);
}

.psychic #attack-list {
    background-color: #f44e7f;
}

.poison  {
    border: 5px solid #A040A0;
    background-color: rgb(220, 197, 222)
}

.poison #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/a/ab/Darkness-attack.png);
}

.poison #attack-list {
    background-color: #A040A0;
}

.ghost  {
    border: 5px solid #705898;
    background-color: #ae9cca;
}

.ghost #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/a/ab/Darkness-attack.png);
}

.ghost #attack-list {
    background-color: #705898;
}


.dark {
    border: 5px solid #5a4b41;
    background-color: #ada19a;
}

.dark #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/a/ab/Darkness-attack.png);
}

.dark #attack-list {
    background-color: #5a4b41;
}

.fairy {
    border: 5px solid #f37590;
    background-color: #f2c8d1;
}

.fairy #type-icon {
    background-image: url(https://archives.bulbagarden.net/media/upload/4/40/Fairy-attack.png);
}

.fairy #attack-list {
    background-color: #f37590;
}


footer {
    border: 5px solid black;
    background-color: rgb(37, 36, 36);
    position: sticky;
    padding: 10px;
    bottom: 0;
    color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset {
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;    
}

legend {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#newPokeName {
    margin-left: 29px;
}

#newPokeId {
    margin-left: 48px;
}

#form-group-2 p {
    padding-bottom: 5px
}


.submit {
    padding: 5px;
    margin: 5px 0;
    margin-left: 250px;
}











