* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Courier New', Courier, monospace;
}


.hidden {
    display: none;
}

/* added typewriter effect */
#welcome-message {
    width: 0;
    display: inline-block;
    border-right: 0.15em solid grey;
    overflow: hidden;
    white-space: nowrap;    
    animation:
        typing 2s steps(31, end) forwards,
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

@keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: grey}
    }

/* end typewriter effect */

header {
    height: 20%;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: white;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(211, 12, 12);
    /* background: linear-gradient(rgb(255, 255, 255), rgb(237, 87, 87)); */
}

h1 img {
    height: 1em
}

.nav-bar {
    display: flex;
    background-color: rgb(255, 254, 254);
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 40;
}

.nav-menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px'
    
}

nav button {
    color: antiquewhite;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    border-radius: 4px;
}

nav button:hover {
    color: rgb(228, 216, 216);;
}

#grass {
    background: linear-gradient(to top, rgb(2, 43, 8), rgb(148, 251, 184)); 
}

#fire {
    background: linear-gradient(to top, rgb(158, 3, 3), rgb(245, 87, 20));
}

#water {
    background: linear-gradient(to top, rgb(47, 0, 149), rgb(122, 193, 250));
}

#electric {
    background: linear-gradient(to top, rgb(255, 100, 4), rgb(252, 210, 24));
}


main {
    border: 5px solid rgb(245, 0, 0);
    background-color: rgba(255, 29, 29, 0.694);
    height: 80%;
    width: 100%;
    margin: 0 auto;
    padding:50px;

    position: relative;
    display: grid;
    grid-template-areas: 
        "sb pc pc";

    overflow: auto;
    justify-content: center;
    align-items: center;   
}



#sidebar-menu {
    grid-area: "sb";
    height: 100%;
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    margin: 1em;
    overflow: auto;
}

li {
    list-style-type: none;
    padding-bottom: 2px;
}


.initial-render {
    grid-area: "pc";
    border: 5px solid rgb(29, 4, 4);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}


.pokemon-card{
    grid-area: "pc";
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    /* height: fit-content;
    overflow: auto; */
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    align-content: center;
    
}

#pokemon-card-header {
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    display: inline-block;
}

#type-icon {
    height: 2em;
}

#display-pokemon-img {
    height: 8em;
    width: 8em;
    margin-bottom: 1em;
}

#specifications {
    border: 2px solid black;
    font-size: xx-small;
    width: 100%;
}

#stats-list {
    border: 2px solid black;
    font-size: large;
}



#attack-list {
    font-size: x-large;
    border: 2px solid black;
    border: 2px solid black;
}


.error {
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 1.5rem;
    position: absolute;
    top: 45px;
    right: 135px;    
    height: 50%;
    width: 50%;
}


footer {
    border: 5px solid black;
    background-color: rgb(37, 36, 36);
    position: sticky;
    padding: 10px;
    bottom: 0;
    color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset {
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;    
}

legend {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#newPokeName {
    margin-left: 29px;
}

#newPokeId {
    margin-left: 48px;
}

#form-group-2 p {
    padding-bottom: 5px
}


.submit {
    padding: 5px;
    margin: 5px 0;
    margin-left: 250px;
}











